@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body{
   top: 0;
   left: 0;
   width: 100%;
}
.container{
    display: flex;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    background-color: #faf3eb;
    width: 100%;
    left: 0px;
    right: 0px;
}
.cotainer-flex{
    display: block;
    left: 0px;
    right: 0px;
}

.header{
    top: 0;
    left: 0;
    display: flex;
    position: relative;
    width: 90%;
    padding-right: 10px;
    overflow-x: hidden;
}
.navbar{
    position: fixed;
}
.header-pic{
    display: flex;
    justify-content: center;
    width: 100%;
}
#head-link{
    text-decoration: none;
    color:  #faf3eb;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5a1a3;
    height: 5%;
    width: 100%;
    padding-right: 10px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#navItem{
    margin-left: 5px;
    margin-right: 2px;
    padding-right: 50px;
    color: #013D5A;
    font-weight: bold;
}

.intro{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    margin-top: 2%;
    height: 600px;
    left: 0px;
    right: 0px;
}
.violin{
    display: flex;
    justify-content: center;
    align-content: center;
    float: right;
    height: 400px;
    width: auto;
    margin-top: 5%;
    border-radius: 20px;
    margin-left: 30%;
    padding-right: 50px;
}
#violin-img{
    border-radius: 20px;
    box-shadow: 10px 10px 5px #d5a1a3;
}
#introPara{
    padding-top: 2%;
    float: left;
    padding-left: 60px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
#introParaTop{
    float: left;
    padding-left: 60px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.intro-para{
    display:block;
    padding-left: 60px;
    width: 100%;
}

.picture{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 30px;
}

.about-box{
    display: flexbox;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-top: solid #faf3eb 25px;
    border-left: solid #faf3eb 20px;
    border-right: solid #faf3eb 20px;
    height: 80%;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.about-leftside{
    display: block;
    padding-left: 30px;
    margin-right: 2%;
}
.about-para{
    display:flex;
    justify-content: center;
}
.quote{
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.vl {
    display: flex;
    justify-content: center;
    border-left: 6px solid black;
    height: auto;
    padding-right: 20px;
}
#para{
    padding-right: 30px;
    text-align: justify;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
}
#photo{
}

.rectangle{

}
.container-second{
    display: flexbox;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 30px 20px;
    background-color: #faf3eb;
    width: 98.5%;
    left: 5px;
    right: 0;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
}
.teach-box{
    display: flex;
    justify-content:flex-start;
    align-content: center;
    right: 0px;
    background-color: #faf3eb;
    padding: 20px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.teach-online{
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 5px 5px #d5a1a3;
    height: 5%;
    width: 30%;
    margin: 5%;
    border-radius: 10px;
}
h2{
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
}
.teach-leftside{
    display: flex;
    justify-content: center;
    align-content: center;
    float: left;
    margin-right: 2%;
    padding-left: 50px;
}
.teach-para{
    display: flex;
}
.vl-teach{
    display: flex;
    justify-content: center;
    border-left: 6px solid black;
    height: auto;
    padding-right: 20px;
    padding-left: 10px;
}
.teach-ul{
    list-style: circle inside url('images/music_beat.png');
    margin: 2%;
    width: 80%;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer{
    display: block;
    background-color: #faf3eb;
    padding-left: 100px;
    height: 300px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    width: 90%;
}
.social-media{
    display: flex;
    margin-top: 1px;
    padding-top: 3px;
    justify-content: center;
}
.footer-note{
    height: 200px;
    text-align: center;
}
.footer-flex{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
}
.address{
    display: block;
    text-align: center;
    margin: 5px;
    border-right: #d5a1a3 solid 1px;
    padding-right: 10px;
    height: 100px;
}
.phone{
    display: block;
    text-align: center;
    margin: 5px;
    border-right: #d5a1a3 solid 1px; 
    padding-right: 10px;
    height: 100px;
}
.mail{
    display: block;
    text-align: center;
    margin: 5px;
    height: auto;
}
#contact{
    float: left;
    padding-left: 50px;
    padding-top: 10px;
    text-align:center;
}
.whatsapp{
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;
    margin: 5px;
}
.facebook{
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;
    margin: 5px;
}
.youtube{
    display: flex;
    justify-content:flex-end;
    align-content: flex-end;
    margin: 5px;
}

/*@media screen and (min-device-width: 768px) {
        .about-box{
            margin: 2px;
            height: 80%;
        }
        .picture{
            margin-bottom: 10px;
        }
}*/
@media screen and (max-device-width: 480px) {
    .about-box{
        height: 50%;
    }
    .header{
        position: fixed;
    }
}
@media screen and (max-device-width: 320px)  {
    .about-box{
        height: 40%;
    }
    .header{
        position: fixed;
    }
}